/* YOUR CUSTOM STYLES */

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.top50 { margin-top:50px; }
.top100 { margin-top:100px; }

.md-form .prefix {
  top: .5rem;
}

.btn-circle.btn-lg-main {
    width: 30px;
    height: 30px;
    padding: 0px 0px;
    font-size: 15px;
    border-radius: 30px;
    position: absolute;
    left: -15px;
}

.btn-circle.btn-lg-card {
    width: 45px;
    height: 45px;
    padding: 0px 0px;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 45px;
    display: inline-block;
    position: absolute;
    margin-top: 65%;
    margin-left: 75%;
}

.btn-circle.btn-lg-card-request {
    width: 45px;
    height: 45px;
    padding: 0px 0px;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 45px;
    display: inline-block;
    position: absolute;
    top:auto;
    bottom: 10px;
    margin-left: 75%;
}

.card .force-rounded {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

:root {
  --primary-color: #45526E;
  --primary-color-hover: #4f5e7e;
}
